.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.categoryTitle {
    color: var(--text);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.categoryItems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}