.button {
  font-family: "Staatliches", serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--text);
  cursor: pointer;
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--shadow-primary);
  background-color: var(--background-container);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover:not(:disabled) {
  transform: translate(2px, 2px);
  box-shadow: var(--shadow-hover);
}

.button:disabled {
  background-color: var(--background-input-unchecked);
  cursor: not-allowed;
}