.eventInfoContainer {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Staatliches", serif;
  font-size: 2rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title h2 {
  margin: 0;
  line-height: 1;
}

.infoSection {
  padding: 1rem 2rem;
}

.infoSection p {
  margin: 0.5rem 0;
  color: #323232;
}

.infoTitle {
  font-family: "Staatliches", serif;
  font-size: 1.5rem;
}

.infoText {
  font-family: "Cutive", serif;
  font-size: 1.1rem;
}

.mapContainer {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.mapContainer iframe {
  width: 100%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 9/6;
  border-radius: 5px;
  border: 2px solid #323232;
  box-shadow: 4px 4px #323232;
  filter: grayscale(100%);
  box-sizing: border-box;
}

.clarification {
  font-family: "Cutive", serif;
  font-size: 0.9rem;
  color: #323232;
  margin: 0;
  padding: 2rem 1rem 0 1rem;
  text-align: center;
}