.container {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
}

.title {
  font-family: "Staatliches", serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title h2 {
  margin: 0;
  line-height: 1;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-family: "Cutive", serif;
  font-size: 1rem;
  text-align: justify;
  margin: 1rem 0 0 0;
}

.card {
  border-radius: 5px;
  border: var(--border);
  background: var(--background-container);
  box-shadow: var(--shadow-primary);
  padding: 1.5rem;
  margin: 0.5rem;
}

.card h4 {
  padding: 1rem 0 0.5rem 0;
}

.expandableContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.expanded {
  max-height: 5000px;
  transition: max-height 0.5s ease-in;
}

.list {
  padding: 0 0 0 1.5rem;
  list-style-type: none;
  margin: 0;
}

.list li {
  padding-bottom: 0.5rem;
}

.list li::marker {
  content: "❤︎  ";
  font-size: 0.9rem;
}

.link {
  font-family: "Cutive", serif;
  font-size: 0.9rem;
}

.readMoreButton {
  margin: 1rem auto 0 auto;
  font-size: 1.25rem;
}

.arrow {
  transition: transform 0.5s ease;
}

.arrowUp {
  transform: rotate(180deg);
}

@media (max-width: 379px) {
  .container {
      padding: 1rem 0.5rem;
  }

  .card {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
      padding: 1.5rem 2rem;
  }

  .card {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
      padding: 2rem;
  }
}