.container {
  padding: 1.5rem;
}

.title {
  font-family: "Staatliches", serif;
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
  color: var(--text);
}

.guestList {
  margin-bottom: 2rem;
}

.guestGroup {
  margin-bottom: 1.5rem;
}

.groupTitle {
  font-family: "Staatliches", serif;
  font-size: 1.5rem;
  color: var(--text);
  margin: 0;
}

.guestItem {
  font-family: "Cutive", serif;
  font-size: 1rem;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
}

.attending, .notAttending {
  font-family: "Staatliches", serif;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.25rem;
}

.attending {
  color: var(--text-success);
  border: var(--border-success);
}

.notAttending {
  color: var(--text-error);
  border: var(--border-error);
}

.additionalInfo {
  margin-bottom: 2rem;
}

.infoItem {
  margin-bottom: 1.5rem;
}

.infoItem p {
  margin: 0;
  color: var(--text);
}

.infoTitle {
  font-family: "Staatliches", serif;
  font-size: 1.5rem;
}

.infoText {
  font-family: "Cutive", serif;
  font-size: 1rem;
  padding: 1rem 0 0 0;
}

.modifyButton {
  margin: 0 auto;
}

@media (max-width: 379px) {
  .container {
    padding: 1rem;
  }

  .title {
    margin: 0 0 1rem 0;
  }
  .guestList {
    margin-bottom: 1.5rem;
  }
  
  .guestGroup {
    margin-bottom: 1rem;
  }

  .guestItem {
    padding: 0.5rem 0 0 0;
  }

  .additionalInfo {
    margin-bottom: 1.5rem;
  }
  
  .infoItem {
    margin-bottom: 1rem;
  }

  .infoText {
    padding: 0.5rem 0 0 0;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}