.navbar {
  position: fixed;
  width: 100%;
  font-family: "Staatliches", serif;
  z-index: 1;
  background-color: var(--background-container);
}

.navbarContainer {
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--shadow-primary);
  color: var(--text);
  margin: 0.3rem 0.5rem 0 0.3rem;
  background-color: var(--background-container);
}

.navbarBrand {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);

}

.hamburger {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--text);
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbarMenu {
  display: none;
  border-top: var(--border);
}

.navbarMenu.active {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navItem {
  text-decoration: none;
  color: var(--text);
  font-size: 1.3rem;
  transition: color 0.3s ease;
  padding: 1rem;
  flex: 1;
  text-align: center;
}

.navItem:hover {
  color: var(--background-container);
  background-color: var(--text);
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .navbarMenu {
    display: flex;
    width: 70%;
    border-top: 0;
    padding: 0.5rem;
  }

  .navItem:hover {
    border-radius: 5px;
  }
}