.container {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title {
  font-family: "Staatliches", serif;
  font-size: 2rem;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title h2 {
  margin: 0;
  line-height: 1;
}

.content {
  background-color: var(--background-container);
  border: var(--border);
  box-shadow: var(--shadow-primary);
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

.errorContainer {
  max-width: 600px;
}

.message {
  font-family: "Cutive", serif;
  font-size: 0.9rem;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.error {
  border: var(--border-error);
  box-shadow: var(--shadow-error);
  color: var(--text-error);
  background-color: var(--background-error);
}

.success {
  border: var(--border-success);
  box-shadow: var(--shadow-success);
  color: var(--text-success);
  background-color: var(--background-success);
}

.message span {
  margin: auto 0;
}

@media (max-width: 379px) {
  .container {
    padding: 1rem 0.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem;
  }
}