.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  text-align: center;
}

.title h2 {
  font-family: "Staatliches", serif;
  font-size: 1.5rem;
  margin: 0;
}

.content {
  background-color: var(--background-container);
  border: var(--border);
  box-shadow: var(--shadow-primary);
  padding: 2rem 1rem;
}

.message {
  font-family: "Cutive", serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--background-container);
  border: var(--border);
  box-shadow: var(--shadow-primary);
}

.error {
  color: #d32f2f;
  border-color: #d32f2f;
}

.success {
  color: #2e7d32;
  border-color: #2e7d32;
}

.declinedContainer {
  text-align: center;
}

.changeButton {
  margin-top: 1rem;
  background-color: var(--color-success);
}

@media (min-width: 768px) {
  .container {
    padding: 4rem 2rem;
  }

  .title h2 {
    font-size: 2rem;
  }

  .content {
    padding: 4rem 2rem;
  }
}